<!DOCTYPE html>
<html>
    <body>
        <h1>Story</h1>
        <form action="/">
            <input type="submit" value="back">
        </form>
        <table border="1">
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Mount</th>
                <th></th>
            </tr>
            <form action="/delete/id" >
            {% for row in data %}
                <tr>
                    <th name="m">{{row.id}}</th>
                    <th>{{row.description}}</th>
                    <th>{{row.amount}}</th>
                    <th><input type="submit" value="eliminar"></th>
                </tr>
            {% endfor %}
            </form>
        </table>
    </body>
</html>