<!DOCTYPE html>
<html>
    <body>
        <h1>Hola</h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Mount</th>
            </tr>
            {% for row in historial %}
            <tr>
                <th>{{row.description}}</th>
                <th>{{row.mount}}</th>
                <th><input type="submit" value="eliminar" name="elimId"></th>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>