<!DOCTYPE html>
<html>
    <head>
        <title>history</title>
        <link rel="stylesheet" href="/staticFiles/style.css">
        <link href='https://css.gg/trash.css' rel='stylesheet'>
        <link href='https://css.gg/arrow-left.css' rel='stylesheet'>
    </head>
<body class="body-history">
    <div class="history-container">
        <h1>History</h1>
        <form action="/">
            <input type="submit" value="back"><i class="gg-arrow-left"></i>
        </form>
        <table border="1">
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Mount</th>
                <th>Date</th>
                <th>Delete</th>
            </tr>
            {% for row in data %}
            <form action="/delete/{{row.id}}" method="post">
                <tr>
                    <td>{{row.id}}</td>
                    <td>{{row.description}}</td>
                    <td>{{row.amount}}</td>
                    <td>{{row.date}}</td>
                    <td class="delettt"><input type="submit" value="eliminar"></td>
                </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</body>

</html>