<!DOCTYPE html>
<html>
    <head>
        <link href="../staticFiles/style.css" rel="stylesheet">
        <title>Login</title>
    </head>
    <body class="body-login">
        <div class="container">
            <form class="login-container">
                <label>Login</label>
                <input class="inps" type="email" placeholder="example@example.com">
                <label>Password</label>
                <input class="inps" type="password">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="container-register">
            <form class="SingUp-container">
                <input type="submit" value="Sing Up">
                <input type="submit" value="API google">
            </form>    
        </div>
    </body>
</html>